<div class="container mt-5">

    <div class="row">

        <div class="col-md-8 mx-auto">

            <div class="container bg-light pt-2">

                <div

                    class="row">

                    <!-- livraison rapide -->

                    <div class="col-md-3 text-center">

                        <img src="{{asset('assets/img/icon_f_services_livraison.png')}}" alt="icone garantie">

                        <p>Livraison rapide en fourgon sécurisé</p>

                    </div>

                    <!-- Garantie 1 an -->

                    <div class="col-md-3 border-0 border-start border-light text-center">

                        <img src="{{asset('assets/img/icon_f_services_garantie.png')}}" alt="icone garantie">

                        <p>Garantie 1an</p>

                    </div>

                    <!-- Retours sous 15 jours -->

                    <div class="col-md-3 border-0 border-start border-light text-center">

                        <img src="{{asset('assets/img/icon_f_services_retour.png')}}" alt="icone garantie">

                        <p>Retour sous 15 jours</p>

                    </div>

                    <!-- assistance 7j/7 24h/24 -->

                    <div class="col-md-3 border-0 border-start border-light text-center">

                        <img src="{{asset('assets/img/icon_f_services_tel24.png')}}" alt="icone garantie">

                        <p>Service assistance 7j/7 24h/24</p>

                    </div>

                </div>


                <div class="row">

                    <div class="col text-center mb-3 border-0 border-top border-secondary pt-2">

                        <h4 class="mb-3">PAIEMENT SECURISE</h4>

                        <img class="img-fluid" src="{{asset('assets/img/paiement.svg')}}" alt="image paiement securisé">

                    </div>

                </div>

            </div>

        </div>


    </div>

</div>